body {
    margin: 0;
    font-family: 'Poppins';
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

p {
    color: dimgray;
}

/* Styling for top section */
.top-section h1 {
    padding-bottom: 20px;
}

.top-section p {
    padding-bottom: 30px;
}

.container {
    width: 30%;
    float: left;
    margin: 5%;
    padding: 2%;
}

.container img {
    width: 100%;
}

.name-highlight {
    color:#F22E79;
    font-size: 40px;
    font-weight: 900;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(45deg, #F767A6,#F2045F);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
}

.top-section {
    background-image: url('/img/header-bg.png');
    background-repeat: no-repeat;
}

section {
    height: 1000px;
    padding-bottom: 35px;
    
}

/* Mid1 styling */
.mid1-section p {
    padding-bottom: 30px;
}

.mid1-section {
    background-image: url('/img/biography-bg.png');
    background-repeat: no-repeat;
}


/* Mid2 styling */

section .mid2-section {
    height: 100px;
}

.mid2-section h1 {
    text-align: center;
}

.whole-container {
    padding: 70px;
}

.container2 img {
    width: 30%;
    float: left;
    margin: 0.5%;
    padding: 1%;
}

.mid2-section {
    background-image: url('/img/latest-work-bg.png');
    background-repeat: no-repeat;
}

